* {
  background-color: rgb(38, 37, 37);
  color: lightgrey;
  margin: 0 auto;
  padding: 0;
}


.App {
  text-align: center;
}


.user-input {
  width: 500px;
  height: 50px;
  font-size: 39px;
  background-color: azure;
  color: black;
}

.timer-text {
  color: red;
  background-color: rgb(122, 120, 120);
  font-size: 50px
}
button {
  background-color: rgb(122, 120, 120);
}

.numbers {
  background-color: rgb(122, 120, 120);
}

.timer-title { 
  background-color: rgb(122, 120, 120);
  font-size: 30px;
}

.nav {
  font-size: 40px;
}





