* {
  background-color: #2D3142;
  color: #e6e9ed;
  margin: 0 auto;
  padding: 0;
}

.header {
  background-color: #2D3142;
}

.App {
  background-color: #2D3142;
}


.user-input {
  width: 500px;
  height: 50px;
  font-size: 39px;
  background-color: azure;
  color: #2D3142;
}

.footer-text {
  background-color: #2D3142;
}


h1 { 
  background: #2D3142;
}

.nav {
  font-size: 30px;
  display: flex;
  align-self: center;
}

.nav-home {
  background-color: #2D3142;
}

.words {
  font-family: 'Courier Prime', monospace;
  font-size: 43px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2D3142;
}

.title {
  background-color: #2D3142;
  font-size: 50px;
  display: flex;
}

.author {
  color: #E6E9ED;
  font-size: 25px;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -88%);
  background:#2D3142;
}



.quote {
  background-color: #2D3142;
}






body {
  background-color: #2D3142;
  font-family: 'Courier Prime', monospace;
  min-height: 100vh;
}




.description {
  background-color: black;
  position: relative;
  font-family: 'Courier Prime', monospace;
  font-size: clamp(1rem, 1vw + 1rem, 4rem);
  width: max-content;
  color: #44CF6C;
}

.description::before,
.description::after {
  background-color: black;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.description::before {
  background-color: black;
  animation: 
  typewriter 3.5s steps(36) forwards;
}

.description::after {
  width: .125em;
  background: white;
  animation: 
  typewriter 3.5s steps(36) forwards;
}

@keyframes typewriter {
  to { 
    left: 100% 
  }
}






.description2 {
  background-color: black;
  position: relative;
  font-family: 'Courier Prime', monospace;
  font-size: clamp(1rem, 1vw + 1rem, 4rem);
  width: max-content;
  color: #44CF6C;
}

.description2::before,
.description2::after {
  background-color: black;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.description2::before {
  background-color: black;
  animation: 
  typewriter 3.5s steps(36) forwards;
  animation-delay: 3.6s;
}

.description2::after {
  width: .125em;
  background: white;
  animation: 
  typewriter 3.5s steps(36) forwards;
  animation-delay: 3.6s;
}

@keyframes typewriter {
  to { 
    left: 100% 
  }
}








.description3 {

  background-color: black;
  position: relative;
  font-family: 'Courier Prime', monospace;
  font-size: clamp(1rem, 2vw + 1rem, 4rem);
  width: max-content;
  color: #44CF6C;
  right: 15.4%;
}

.description3::before,
.description3::after {
  background-color: black;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.description3::before {
  background-color: black;
  animation: 
  typewriter 3s steps(27) forwards;
  animation-delay: 7.4s;
}

.description3::after {
  width: .125em;
  background: white;
  animation: 
  typewriter 3s steps(27) forwards;
  animation-delay: 7.4s;
}

@keyframes typewriter {
  to { 
    left: 100% 
  }
}

.typewriter-container {
  background-color: black;
  border: #656d78;
  border-width: 9px;
  border-style: solid;
  border-radius: 5%;
  position: absolute;
  height: 37vh;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.footer-text {
  position: absolute;
  bottom: 8px;
  right: 44%;
}

.rules {
  position: absolute;
  list-style: none;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -13%);
  font-size: 15px;
}

.game-nav {
  position: absolute;
  font-size: 40px;
  background: #2D3142;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 10%)

}

.link {
  background: #2D3142;
}

img {
  background-color: #2D3142;
  max-height: 150px;
}

.data-container {
  position: absolute;
  top: 20%;
  left: 10%;
  background: red;
  color: red;
}













.terminal-bar {
  position: relative;
  background-color: #656d78;
  height: 2vh;

}
.terminal-buttons {
  position: absolute;
  left: 2%;
  background-color: #656d78;
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}
.red {
  position: relative;
  height: 1.3vh;
  border-radius: 100%;
  width: 1.3vh;
  background-color: #FF4365;
}
.yellow {
  position: relative;
  left: 20%;
  height: 1.3vh;
  border-radius: 100%;
  width: 1.3vh;
  background-color: #ECCB50;
}
.green {
  position: relative;
  left: 42%;
  height: 1.3vh;
  border-radius: 100%;
  width: 1.3vh;
  background-color: #44CF6C;
}
















