.App {
  text-align: center;
}


.user-input {
  width: 700px;
  height: 50px;
  font-size: 39px;
}


.written {
  margin: 0 auto;
  background-color: black;
  color: white;
  width: 700px;
  margin-top: 10px;
  height: 200px;
}

